
body {
    font-family: Calibri;
}

u {
    font-size: 150%;
   color: darkblue;
}

li{
    padding-top: 1%;

}

b{
    font-size: 115%;

}

h2{
    font-size: 150%;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 1%;
}

h3 {
    font-size: 125%;
    font-weight: 600;
    margin-bottom: 1%;
    margin-top: 1%;
}

p{
    margin-top: 0px;

}

ul{
    margin-top: 0px;
    margin-bottom; 0px:
}

img{
    padding: 1%;
}
